{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<div>
    <h1>Hello! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/TestController.php</code></li>
        <li>Your template at <code>templates/test/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
